* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 85%;
	text-align: center;
	margin: 0 auto;
}

a {
	color: #4d6680;
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	opacity: 0.7;
}

p {
	color: #4d6680;
	font-size: 14px;
}

h2 {
	font-size: 18px;
	letter-spacing: 0.3em;
	text-indent: 0.3em; /* レタースペーシング分のズレ解消 */
	font-weight: normal;
	color: #00aacc;
	
	margin-top: 50px;
	margin-bottom: 2px;
}

h3 {
	font-size: 7px;
	letter-spacing: 0.15em;
	text-indent: 0.15em; /* レタースペーシング分のズレ解消 */
	font-weight: normal;
	color: #00aacc;
	
	margin-bottom: 25px;
}

/* ヘッダー */
header {
	height: 110px;
	width: 100%;
}

.nav-container {
	width: 90%;
	margin: 0 auto;
}

.nav-container ul {
	display: flex;
	justify-content: space-between; /* 等間隔 */
	align-items: center; /* 上下中央揃え */
}

.nav-container li {
	list-style: none;
	text-align: center;
}

.hedder-logo {
	height: 30px;
	margin: 42px 15px 38px 0;
}

.nav-container li a {
	font-size: 16px;
	letter-spacing: 0.3em;
	text-indent: 0.3em; /* レタースペーシング分のズレ解消 */
	line-height: 22px;
	color: #00aacc;
	display: block; /* クリック範囲拡大 */
}

.ham-menu,hum-icon {
	display: none;
}


/* トップラッパー */
.top-wrapper {
	width: 95%;
	text-align: center;
	margin: 0 auto;
}

.top-photo {
	vertical-align: bottom;
	max-width: 100%;
	border-radius: 10px;
}

.top-photo-s {
	display: none;
}

/* お知らせ */
.news {
	padding-bottom: 210px;
}

.news-link {
	display: inline-block;
	width: 16.5%;
	float: left;
}

.news-link:nth-child(2),
.news-link:nth-child(4) {
	margin: 0 4.375%;
}

.news-link img {
	width: 100%;
	margin-bottom: 5px;
	object-fit: cover;
	border-radius: 5px;
}

.text-box {
	text-align: left;
}

.news-date {
	font-size: 11px;
	letter-spacing: 0.15em;
	
	display: inline-block;
	margin-bottom: 3px;
}

.news-link-title {
	font-size: 14px;
	letter-spacing: 0.1em;
}



/* アクセス */
.access-container {
	width: 47%;
	float: left;
}

.access-container p {
	text-align: left;
	line-height: 28px;
	margin-top: 15px;
}

/* 診療時間 */
.consultation-hours-container {
	width: 47%;
	margin-bottom: 80px;
	float: right;
}

table {
	margin: 0 auto;
	font-size: 14px;
	margin-bottom: 15px;
	width: 100%;
	border-radius: 5px;
	border-collapse: separate; /* 角丸対応 */
	border-spacing: 0; /* 角丸対応 */
	overflow: hidden; /* 角丸対応 */
}

tr:nth-child(1),
.reception-time {
	background-color: #f0f8ff;
}

th,
td {
	padding: 10px 0px;
	font-weight: normal;
	color: #5cb8e6;
	border-right: 2px solid #5cb8e6;
	border-bottom: 2px solid #5cb8e6;
}

td {
	background-color: white;
}

.reception-time {
	border-left: 2px solid #5cb8e6;
}

.week {
	padding-left: 1%;
	padding-right: 1%;
	border-top: 2px solid #5cb8e6;
}

tr:nth-child(1) .reception-time { /* 塗りの角丸対応 */
	border-radius: 5px 0 0 0;
}

tr:nth-child(3) .reception-time { /* 塗りの角丸対応 */
	border-radius: 0 0 0 5px;
}

tr:nth-child(1) .week:nth-child(8) { /* 塗りの角丸対応 */
	border-radius: 0 5px 0 0;
}

tr:nth-child(3) td:nth-child(8) { /* 塗りの角丸対応 */
	border-radius: 0 0 5px 0;
}

.consultation-hours p {	
	text-align: left;
	line-height: 28px;
	margin-bottom: 13px;
}

.consultation-hours .explanation span {
	text-decoration: underline;
}


/* 待ち時間確認ボタン */
.waiting-time-btn {
	display: inline-block;
	padding: 20px 40px;
	margin-top: 20px;
	
	color: white;
	background-color: #5cb8e6;
	border-radius: 5px;
	
	font-size: 16px;
	letter-spacing: 0.1em;
	text-indent: 0.1em;
	line-height: 20px;
}

.waiting-time-btn span {
	font-size: 11px;
	letter-spacing: 0.1em;
	text-indent: 0.1em;
	line-height: 16px;
}


/* フッター */
footer {
	background-color: #f0f8ff;
	clear: both; /* フロートへの回り込み解消 */
}

.footer-logo {
	margin: 0 auto;
	padding: 33px 0 3px 0;
	width: 110px;
}

footer p {
	font-size: 10px;
	padding-bottom: 28px;
	color: #5cb8e6;
}

/* ページTOPに戻る */
.pagetop {
	display: none;
	position: fixed;
	right: 4%;
	bottom: 75px;
}
.pagetop a {
	display: block;
	font-size: 0;
	width: 60px;
	height: 60px;
	text-align: center;
	background: #fff;
	border: 2px solid #5cb8e6;
	border-radius: 50%;
	line-height: 50px;
}
.pagetop a i {
	font-size: 20px;
	color:#5cb8e6;
	line-height: 55px;
}
