* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 85%;
	text-align: center;
	margin: 0 auto;
}

a {
	color: #222;
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	opacity: 0.7;
}

p {
	color: #4d6680;
	font-size: 14px;
}

/* ヘッダー */
header {
	height: 110px;
	width: 100%;
}

.nav-container {
	width: 90%;
	margin: 0 auto;
}

.nav-container ul {
	display: flex;
	justify-content: space-between; /* 等間隔 */
	align-items: center; /* 上下中央揃え */
}

.nav-container li {
	list-style: none;
	text-align: center;
}

.hedder-logo {
	height: 30px;
	margin: 42px 15px 38px 0;
}

.nav-container li a {
	font-size: 16px;
	letter-spacing: 0.3em;
	text-indent: 0.3em; /* レタースペーシング分のズレ解消 */
	line-height: 22px;
	color: #00aacc;
	display: block; /* クリック範囲拡大 */
}

.ham-menu,hum-icon {
	display: none;
}

.header-photo img {
	width: 100%;
}

.header-photo-s {
	display: none;
}

h2 {
	position: absolute;
	
	font-size: 20px;
	letter-spacing: 0.6em;
	text-indent: 0.6em;
	font-weight: normal;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 20px #73aed1;
	
	width: 100%;
	left: 0; 
	top: calc(50% - 15px);
}

.header-photo {
	position: relative;
}

.main {
	margin: 60px 0 80px 0;
	flex: 1; /* フッター画面下固定 */
}

/* フッター画面下固定 */
body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

/* フッター */
footer {
	background-color: #f0f8ff;
	clear: both; /* フロートへの回り込み解消 */
}

.footer-logo {
	margin: 0 auto;
	padding: 33px 0 3px 0;
	width: 110px;
}

footer p {
	font-size: 10px;
	padding-bottom: 28px;
	color: #5cb8e6;
}

/* ページTOPに戻る */
.pagetop {
	display: none;
	position: fixed;
	right: 4%;
	bottom: 75px;
}
.pagetop a {
	display: block;
	font-size: 0;
	width: 60px;
	height: 60px;
	text-align: center;
	background: #fff;
	border: 2px solid #5cb8e6;
	border-radius: 50%;
	line-height: 50px;
}
.pagetop a i {
	font-size: 20px;
	color:#5cb8e6;
	line-height: 55px;
}
